@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1D2226;
    font-family: 'Manrope', sans-serif;
}

body.img-bg {
    background-color: #1D2226;
    font-family: 'Manrope', sans-serif;
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-position-x: -30px;
    background-position-y: 400px;
}

/* header */

header {
    background-color: #0F1C26;
    padding: 1rem 0;
}

header .container {
    width: 80%;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo-search {
    display: flex;
    align-items: center;
    position: relative;
    width: 40%;
}

header .container .logo-search .search-icon {
    position: absolute;
    left: 400px;
}

header input {
    width: 100%;
    height: 50px;
    background-color: #171B1E;
    color: #FDFDFD;
    border: none;
    padding: 1rem;
    margin-left:.8rem;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style-type: none;
    margin-left:1rem;
    margin-right:5rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
}

header nav ul li a img {
    margin-right: .5rem;
}

header .profile {
    display: flex;
    align-items: center;
}

header .profile span {
    margin-right: 1rem;
}

.content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 1rem;
    justify-content: space-evenly;
}

.content-dados {
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

/* filmes */


main {
    margin-right: 1rem;
}


main .promo {
    width: 100%;
    height: 120px;
    background-image: url(assets/promo-bg.png);
    display: flex;
    justify-content: start;
    padding: 1rem;
    color: #0F0915;
    font-family: 'Quantico', sans-serif;
    font-weight: 400;
    position: relative;
}

main .first-column, main .second-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 8rem;
}

main .first-column span, main .second-column span {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

main .first-column span img, main .second-column span img {
    margin-right: .6rem;
}

main .third-column {
    right: -10px;
    position: absolute;
    top: -40px;
}

main .third-column img {
    width: 300px;
}

main .filmes .top {
    margin-bottom: 2rem;
}

main .filmes .top-filmes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main .filmes .filme-card {
    width: 170px;
    height: 300px;
    position: relative;
    margin-bottom: 2rem;
    margin-right: 1rem;
}

main .filmes .top h1 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: .8rem;
}

main .filmes .title {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: .6rem;
    position: absolute;
    bottom: 35px;
}

main .filmes .title .nota {
    color: #FBCD6E;
}

main .filmes .title .nota-top {
    color: #FBCD6E;
}

main .filmes .add {
    
    position: absolute;
    bottom: 8px;
    
    padding: 0 .4rem;
    width: 150px;
}

main .filmes .add button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A785ED;
    border: none;
    width: 150px;
    padding: .4rem .4rem;
    color: white;
    font-size: .9rem;
    font-weight: 700;
}


main .filmes .add button:hover {
    background-color: #715E97;
}


main .filmes .add button:active {
    background-color: #9380BA;
}

main .filmes .add button:disabled {
    background-color: #898989;
}

main .filmes .star-top {
    position: absolute;
    top: 10px;
    left: 10px;
}

main .filmes .geral h1 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: .8rem;
}

main .filmes .geral-filmes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .filmes .filtros {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

main .filmes .filtros button {
    background: none;
    border: 1px solid #4A4E51;
    color: #4A4E51;
    padding: .4rem;
    width: 10rem;
    font-family: 'Open Sans', sans-serif;
}

main .filmes .filtros button:hover {
    background: none;
    border: 1px solid #E183C8;
    color: #E183C8;
}

main .filmes .filtros button:active {
    background: none;
    border: 1px solid #A785ED;
    color: #A785ED;
}

main .filmes .filtros .active {
    background-color: rgba(225, 131, 200, 0.2);
    border: 1px solid #E183C8;
    color: #E183C8;
}

main .filmes .movie-img, main .filmes .movie-img-top {
    width:100%;
    height: 100%;
    object-fit: cover;
}

/* sacola */

aside .sacola {
    background-color: rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 20px;
    width: 300px;
    height: auto;
}

aside .sacola h1 {
    color: #FDFDFD;
    background-color: #A785ED;
    font-size:24px;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside .sacola .sacola-content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sacola-content .sacola-vazia {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sacola-content .sacola-vazia h2, 
.sacola-content .sacola-vazia h3 {
    text-align: center;
    color: white;
}

.sacola-content .sacola-vazia h2 {
    font-size: 1.5rem;
}

.sacola-content .sacola-vazia h3 {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.sacola-content .sacola-vazia img {
    object-fit: contain;
}

.sacola-content .sacola-itens .item-img {
    width: 43px;
    height: 67px;
    margin-right: 1rem;

}

.sacola-content .sacola-itens .item {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
}

.sacola-content .sacola-itens .item .item-content {
    color: white;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
}

.sacola-content .sacola-itens .item .item-quantidade {
    display: flex;
    align-items: center;
}

.sacola-content .sacola-itens .item .item-quantidade .more {
    background-color: rgba(0, 0, 0, 0.37);
    color: rgba(111, 207, 151, 1);
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 25px;
}



.sacola-content .sacola-itens .item .item-quantidade .more:hover {
    background-color: rgba(107, 107, 107, 0.37);
}

.sacola-content .sacola-itens .item .item-quantidade .more:active {
    background-color: rgba(191, 191, 191, 0.37);
}



.sacola-content .sacola-itens .item .item-quantidade input {
    width: 23px;
    height: 24px;
    padding: 0.3rem;
    background: transparent;
    border: none;
    margin: 0 .4rem;
    color: white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.sacola-content .sacola-itens .item .item-quantidade .less {
    background-color: rgba(0, 0, 0, 0.37);
    width: 25px;
    height: 25px;
    padding: .2rem;
}

.sacola-content .sacola-itens .item .item-quantidade img {
    object-fit: contain;
    
}

.sacola-content .cupom {
    display: flex;
    flex-direction: column;
    color: #FDFDFD;
    position: relative;
    font-size: .8rem;
}

.sacola-content .cupom input {
    background-color: #0B1217;
    border: none;
    padding: .8rem;
    margin-top: .5rem;
    color: #FDFDFD;
}

.sacola-content .cupom input:hover {
    border: 1px solid #8C8C8C;
}

.sacola-content .cupom input:active {
    border: 1px solid #FDFDFD;
}


.sacola-content .cupom img {
    position: absolute;
    left: 210px;
    top: 35px;
}

.sacola-content button {
    margin-top: 1rem;
    padding: .8rem;
    border: none;
    background-color: #E25EBF;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.sacola-content button:hover {
    background-color: #FFB6EB;
}

.sacola-content button:active {
    background-color: #FFB6EB;
    -webkit-box-shadow: 0px 8px 41px -5px rgba(226,94,191,1);
    -moz-box-shadow: 0px 8px 41px -5px rgba(226,94,191,1);
    box-shadow: 0px 8px 41px -5px rgba(226,94,191,1);
}


.sacola-content button:disabled {
    background-color: #898989;
}

/* infos */

.iniciais, .endereco, .pagamento {
    padding: 2rem 0;
    margin-bottom: 1rem;
    color: #FDFDFD;
    font-size: .8rem;
    background-color: #171B1E;

}

.iniciais h1, .endereco h1, .pagamento h1 {
    margin-left: 3.5rem;
    font-size: 2rem;
    font-weight: 500;
} 

.iniciais input, .endereco input, .pagamento input {
    background-color: #0B1217;
    border: none;
    padding: 0.6rem;
    margin-top: .3rem;
}

.iniciais input::placeholder, .endereco input::placeholder, .pagamento input::placeholder {
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
}

.dados {
    width: 70%;
}

.dados form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 4rem;
}

.dados form label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 2rem;
    margin-top: 1.5rem;
}

.dados form label input {
    width: 100%;
    color: white;
}

.dados form label input:hover {
   border: 1px solid #8C8C8C;
}

.dados form label input:active {
    border: 1px solid #FDFDFD;
}

.dados .first-column {
    width: 50%;
}

.dados .second-column {
    width: 50%;
}

/* confirm */

.confirm {
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    margin-top:2rem;
}

.confirm-box {
    background-color:rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2.5rem;
}

.confirm-box img {
    object-fit: contain;
    margin-bottom: 1.5rem;
}

.confirm-box h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.confirm-box span {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: .8rem;
    font-weight: 700;
}

.confirm-box a {
    width: 50%;
    align-self: center;
    background-color: #E25EBF;
    border:none;
    color: white;
    padding: 1rem;
    font-weight: 700;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
}

.confirm .musician {
    position: absolute;
    right: 120px;
    top: 20px;
    object-fit: contain;
    width: 30%;
}